.root {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.container {
    max-width: 1000px;
    justify-content: left;
    text-align: left;
    width: 100%;
}